.paginationWrapper {
  width: 25%;
  margin: 10px;
}

.paginationList {
  display: flex;
  justify-content: space-evenly;
}

.paginationItem {
  width: 25px;
}

.activeButton {
  background-color: #daad86;
}
