$first-color: #daad86;

.wrapper {
  width: 25%;
  margin: 10px;
}

.list {
  display: flex;
  justify-content: space-evenly;
}

.item {
  width: 25px;
}

.activeButton {
  background-color: $first-color;
}
