$first-color: #daad86;

header {
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid #000000;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 15px;
}

.basket {
  cursor: pointer;
}

.basket:hover {
  color: $first-color;
}
